* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #fff;
  
}


::-webkit-scrollbar {
  background-color: #EBECF1;
  width: 0.4vw;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

.Section {
  position: fixed;
  left: 0;
  background-color: #ECECF6;
  height: 100vh;
  width: 6vw;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
}

.app__container {
  position: relative;
}