* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      background-color: #fff;
    
  }
  
  
  ::-webkit-scrollbar {
    background-color: #EBECF1;
    width: 0.4vw;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000;
  }
  
.section {
    position: fixed;
    left: 0;
    background-color: #3b3bd4;
    height: 100vh;
    width: 6vw;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    gap: 2rem;
  }

.section .top {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
  }
  
.section .brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3rem 0;
}

.section .color1 {
  color: rgb(248, 7, 7);
}
.section .color2 {
  color: rgb(249, 249, 6);
}
.section .color3 {
  color: rgb(4, 130, 4);
}

.section .svg {
  margin : 0.2px;
  font-size: 0.8rem
}

.links ul {
  margin-bottom: 3rem;
}

.links ul .active{
  border-right: 0.2rem solid #000;
}
.links ul .active a{
  color:  #000;
}

li {
  display: flex;
  justify-content: center;
  border-right: 0.2rem solid transparent;
  margin: 1rem 0;
  list-style-type: none;
}

li > a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  gap: 0 0.4rem;
  transition: 0.3s ease-in-out;
}

li > a:hover {
  color: #000;
}

li > a .notification {
  display: flex;
  margin-left: 21px;
}

.notification span {
 background-color: red;
 font-size: 0.5rem;
 border-radius: 50%;
 padding: 2px 5px 2px 5px;
 margin-bottom: 19px;
 margin-top: -10px;
}


.app__container {
    position: relative;
}

